
<div class="logo">
  <a href="https://www.facebook.com/aamjustice" target="_blank" rel="noopener" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="./assets/images/Coat_of_arms_of_Tunisia.svg.png" alt="" />
      </div>
    </a>
  <a href="https://www.facebook.com/aamjustice" target="_blank" rel="noopener" class="simple-text logo-mini">
      <b>ودادية أعوان وزارة العدل</b>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]" *ngIf="menuItem.title !== 'خروج' && !menuItem.isAdminPage">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
          <a (click)="logout()" *ngIf="menuItem.title === 'خروج'">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
          <a [routerLink]="[menuItem.path]" *ngIf="menuItem.isAdminPage && isAdminPage">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
