<app-layout></app-layout>

<div class="page-content justify-content-center text-center">
  <div class="subheader">
    <div class="container mt-2 mb-4 mr-1" style="direction: ltr">
      <h3 *ngIf="editMode"><b>Modifier un produit : </b></h3>
      <h3 *ngIf="!editMode"><b>Ajouter un produit : </b></h3>
      <form  [formGroup]="produitForm" (ngSubmit)="createProduit()">
<!--        <mat-form-field style="width: 300px;">-->
<!--          <input *ngIf="!editMode" formControlName="id" matInput placeholder="ID" type="text">-->
<!--          <input *ngIf="editMode" disabled="true" [value]="produit?.id" matInput placeholder="ID" type="text">-->
<!--        </mat-form-field><br>-->
        <mat-form-field style="width: 300px;">
          <input formControlName="nom" matInput placeholder="nom" type="text">
        </mat-form-field><br>
        <mat-form-field style="width: 300px;">
          <input formControlName="description" matInput placeholder="description" type="text">
        </mat-form-field><br>
        <mat-form-field style="width: 300px;">
          <input formControlName="prix" matInput placeholder="prix" type="number">
        </mat-form-field><br>
        <mat-form-field style="width: 300px;">
          <input formControlName="quantiteEnStock" matInput placeholder="quantiteEnStock" type="number">
        </mat-form-field><br>
        <mat-form-field style="width: 300px;">
          <mat-select [(ngModel)]="selectedFournisseur"  formControlName="fournisseurId" class="form-select" name="role" id="fournisseurId" required [value]="selectedFournisseur">
            <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">
              <b>{{ fournisseur.nom }}</b>
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <button
               [disabled]="produitForm?.invalid"
                class=" mt-2 justify-content-center btn btn-primary" style="width: 300px; background: #8a2226db"
                [ngStyle]="{'opacity': produitForm?.invalid ? '0.4' : '1',
                    'color': produitForm?.invalid ? 'black' : 'white',
                    'background-color': produitForm?.invalid ? 'gray' : '#8a2226db'}"
                 type="submit">{{ !editMode ? 'Ajouter' : 'Modifier'}}</button>
      </form>
    </div>
  </div>
</div>
