:host {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 500px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 500px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-card {
  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 16px))
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix  .pwd {
  margin-right: 18px;
}

.button-container {
  display: flex;
  align-items: center;
}

.google-signin-button {
  width: 300px; /* Set the width of the Google sign-in button */
  /* Add any other styles needed for the Google sign-in button */
}

.button-text {
  margin-left: 10px; /* Adjust the margin to provide space between the button and text */
}

::ng-deep .S9gUrf-YoZ4jf, .S9gUrf-YoZ4jf .nsm7Bb-HzV7m-LgbsSe * {
  border: 1px solid black !important;
  width: 300px;
  padding-left: 35px !important;
}
